$color-blue:#1536F1;
$color-blue-dark: #002cf1;
//$color-primary:#F9C769;
$color-primary:#12dc91;
$color-primary-dark: #00b472;

$color-pink:#F9C769;


$color-white:#fff;
$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #6c757d;
$color-gray-700: #495057;
$color-gray-800: #343a40;
$color-gray-900: #212529;
$color-black:    #000;