.nav{
  position: fixed;
  top:0;
  left: 0;
  width: 30rem;
  height: 100vh;
  background-color: #ffffff;
  z-index: 1000;
  overflow: hidden;
  transition: transform 0.3s;

  &__close{
    position: absolute;
    top: 1.5rem;
    left: 1rem;

    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
      cursor: pointer;
    }
    &:before{
      content: '';
      display: block;
      height: 3rem;
      width: 2px;
      background-color: black;
      transform: rotate(45deg);
    }
    &:after{
      content: '';
      display: block;
      height: 3rem;
      width: 2px;
      background-color: black;
      transform:rotate(-45deg) translate(-2px, -1.5px);
    }

    &:hover{

      &:before{
        background-color: #F9C769;
      }
      &:after{
        background-color: #F9C769;
      }
    }
  }


  &__container{
    margin-top: 5rem;
    width: 100%;
    height: auto;

    h2{
      font-size: 2.1rem;
      font-weight: bold;
      padding: 1.3rem 2rem;
      text-align: left;
      margin-top: 1rem;
      color: rgba(#1A1A1A,0.9);


      @media (max-width: 600px) {
        padding: 1rem;
      }

    }
    ul{
      margin-left: 5rem;
      margin-bottom: 0.5rem;
      width: 100%;
      height: auto;
      color: rgba(#1A1A1A,0.85);


      @media (max-width: 600px) {
        margin-left: 0;
      }

      li{
        font-size: 1.7rem;
        font-weight: bold;
        text-align: left;
        width: 100%;
        height: 3rem;
        margin: 1rem 0;
        @media (max-width: 600px) {
          padding-left: 1.5rem;
          margin-left: 1rem;
        }

        a{
          height: 100%;
          width: 100%;
          display: block;

          &:hover{
            cursor: pointer;
            color: #F9C769;
          }
        }

        &:not(:last-child){
          border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        }
      }
    }

    span{
      display: block;
      height: 0.5px;
      width: 100%;
      opacity: 0.30;
      background-color: rgba(0, 0, 0, 1);
    }


  }
}
.moveNavAway{
  transform: translateX(-200%);
}