.btn{



  &--primary{
      background: linear-gradient(48deg,$color-primary 0%,$color-primary-dark 100%)!important;
      color: #fff;
      text-transform: uppercase;
      font-family: "Montserrat",inherit,sans-serif;
      font-weight: 700;
      font-size: 1.6rem;
      border-radius: 4px;
      width: 100%;
      height: 8rem;
      max-width: 27rem;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 1.4px;
      transition: all 0.5s ease;
      cursor: pointer;

      &:hover {
        box-shadow: 0 4px 16px 0 rgba(169,169,169,.87);
        color: #131313;
      }
      &:active {
        transform: translateY(0.3rem);
      }

  }
}