.pageLocation{

  .container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0;


    img{
      margin-right: 10px;
      width: auto;
      height: 100%;
    }
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: .6;
      margin-right: 10px;
      font-size: 14px;
      font-weight: 400;

      &:last-of-type{
        img{
          transform: translateY(0.1rem);
        }

      }
    }
  }
}
