.sectionGuide{
  //border: 1px solid hotpink;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  .container{
    color: black;
    padding: 0 1rem 1.5rem;

    .pageLocation{
      align-self: flex-start;
    }

    h1{
      margin-top: 4rem;
    }
  }

  &__allBoxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


    @media (max-width: 700px) {
      flex-flow: column;
    }

    &__box{
      width: 32%;
      background-color: #fafaf8;
      box-shadow: -1px 3px 10px 1px rgba(177,177,177,.2);
      border-radius: 8px;
      border: 1px solid #dadada;
      margin-bottom: 30px;
      padding: 1.5rem 1rem;
      height: 42rem;
      display: flex;
      flex-flow: column;
      justify-content: space-between;

      @media (max-width: 1000px) {
        height: 41rem;
      }


      @media (max-width: 950px) {
        height: 40rem;
      }
      @media (max-width: 900px) {
        height: 39rem;
      }

      @media (max-width: 700px) {
        height: auto;
        width: 90%;
      }

      img{
        border-radius: 8px;
      }

      h2{
        font-size: 1.6rem;
        color: rgb(57, 34, 6);
        font-weight: 600;
        line-height: 1.34;
        text-align: left;
        margin: 1.5rem 0 2.2rem;


        @media (max-width: 700px) {
          font-size: 2rem;
        }

        @media (max-width: 500px) {
          font-size: 1.6rem;
        }

      }

      &__button{

        a{
          height: 6.5rem;
          max-width: 18rem;
        }
      }

    }

  }

}